<% title "Hellos" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for hello in @hellos %>
    <tr>
      <td><%=h hello.name %></td>
      <td><%= link_to "Show", hello %></td>
      <td><%= link_to "Edit", edit_hello_path(hello) %></td>
      <td><%= link_to "Destroy", hello, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

  <%= ENV["hey"]="hello"%>
  <%= print ENV["hey"]%>
<p><%= link_to "New Hello", new_hello_path %></p>
